body{
    background-color: #1DB954;
    font: Inter, sans-serif;
}


.generate-button{
    background-color: black;
    color: rgb(255, 255, 255);
    width:200px;
    height: 50px;
    font-size: 24px;
    display: block;
    margin: 0 auto;
}

main{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 50vh;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1{
    width: 400px;
    text-align: center;
}

h4{
    text-align: center;
}

.link-input{
    display: block;
    margin: 0 auto;
    width: 250px;
    margin-bottom: 10px;
    align-self: center;
}

.input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}