
.logo-bar{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100px;

}

.logo-block{
    justify-content: center;
    align-items: center;
}

.spotify-image{
    background-color: black;
    width: 100%;
}

.youtube-image {
    background-color: white;
    width: 100%;
    height: 100%;                    /* make it fill the full 100px height */
    display: flex;                   /* flexbox = perfect centering */
    justify-content: center;         /* horizontal center */
    align-items: center;             /* vertical center */
}


img{
    width: 150px;
    max-width: 100%;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.youtube-image img {
    width: auto;
    height: 60px;                    /* same height as Spotify logo */
    max-width: 180px;
    object-fit: contain;
}

