
.logo-bar{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100px;

}

.logo-block{
    justify-content: center;
    align-items: center;
}

.spotify-image{
    background-color: black;
    width: 100%;
}

.youtube-image{
    background-color: white;
    width: 100%;
}


img{
    width: 150px;
    max-width: 100%;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.youtube-img{
    margin: auto;
    display: block;
}

